# Deployment used by `npx convex dev`
CONVEX_DEPLOYMENT='Your Convex deployment here'

NEXT_PUBLIC_CONVEX_URL='Your Convex URL here'

# MapTiler API Key
NEXT_PUBLIC_MAPTILER_API_KEY='Your MapTiler API Key here'   

# Google Gemini API Key  
NEXT_PUBLIC_GEMINI_API_KEY='Your Google Gemini API Key here'



